/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html{
   margin:0;
   padding:0;
 }

  div#header {
  padding-top: 5px;
  background: #5bc5a7;
  display: block;
  height: 45px;
  vertical-align: middle;
  /* box-shadow: 0 0 2px 0 grey; */
}

.logo {
  font-family: 'Source Serif Pro', serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 10px;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 0px;
  position: absolute;
  left: 12%;
}

.welcome {
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-top: 150px;
  color: #444;
}
.lower-welcome {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  color: #444;
  text-align: center;
  margin-bottom: 10px;
}

.get-started-button {
  background-color: #ff652f;
  color: white;
  border-radius: 5px;
  text-shadow: 0 -1px 0 grey;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  padding: 22px 52px 22px 52px;
  margin-top: 10px;
  text-decoration: none;
  box-shadow: .5px .5px 1px 1px grey;
}

.get-started-div {
  text-align: center;
}

.login-signup {
  display: block;
  padding-top: 12px;
  justify-content: space-between;
  float: right;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  position: absolute;
  right: 17%;
}

.main-content {
  margin: auto;
}

.test {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  vertical-align: bottom;
}

 .dashboard {
   display: inline-block;
   width: 560px;
   height: 720px;
   border-left: 1px solid lightgray;
   border-right: 1px solid lightgray;
   box-shadow: 10px;
   box-shadow: -10px;
   box-shadow: 0 0 12px rgba(0,0,0,0.2);
 }

 .dashboard-list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .dashboard-owedlist {
   font-size: 14px;
   font-weight: bolder;
   color: gray;
   font-family: 'Lato', sans-serif;
   padding-top: 20px;
   padding-right: 20px;
 }
 .dashboard-owedlist ul li{
   list-style: none;
   padding-bottom: 15px;
 }

  .dashboard-owelist ul li{
    list-style: none;
    padding-bottom: 15px;
  }

 .dashboard-owelist {
   border-right: lightgray;
   font-size: 14px;
   font-weight: bolder;
   color: gray;
   font-family: 'Lato', sans-serif;
   padding-top: 20px;
   padding-left: 20px;
 }

.sidebar-links {
  flex-direction: column;
  float: left;
  width: inherit;
  font-family: 'Lato', sans-serif;
  color: gray;
  padding: 3px 8px 5px 5px;
  font-size: 16px;
  float: left;
  padding-left: 10px;
  /* text-decoration: none; */
}
.sidebar {
  display: inline-block;
  width: 200px;
}

.active {
  font-family: 'Lato', sans-serif;
  color: #5bc5a7;
  font-weight: bold;
  border-left: 6px solid #5bc5a7;
  height: 25px;
  vertical-align: middle;
  padding-left: 4px;
  margin-top: 15px;
  font-size: 16px;
  float: left;
  text-decoration: none;
  margin: 3px;
}

.friends-index {
  margin-top: 10px;
  display: inline;
  padding-left: 5px;
}

.friends-list {
  list-style-type: none;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  width: 165px;
  font-size: 14px;
  color: #A0A0A0;
}
.friend-index-item {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: #A0A0A0;
}
.friend-index-item:hover {
  font-size: 15px;
  color: #5bc5a7;
}

.delete-friend {
  border: none;
  padding: 4px 4px 4px 4px;
  margin-left: 5px;
  background-color: #eee;
  color: #eee;
  border-radius: 5px;

}

.delete-friend:hover {
  background-color: red;
  font-family: 'Lato', sans-serif;
  color: white;
  cursor:  pointer;
}

.friends-list li{
  padding-left: 5px;
  padding-bottom: 5px;
}

.friend-search-list {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  height: 200px;
  width: 165px;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 0px;

}
.friend-search-list li{
  padding: 3px;
}
.friend-search-list li:hover{
  background-color: #5bc5a7;
  cursor: pointer;
  color: white;
}

.friend-search-form {
  margin-top: -10px;
}

h3 {
  display: inline-block;
}
.signup-input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}





.sidebar-link-dash {
  font-family: 'Lato', sans-serif;
  color: gray;
  padding: 3px 8px 5px 5px;
  font-size: 16px;
  float: left;
  padding-left: 10px;
  text-decoration: none;
}
.sidebar-link-recent {
  font-family: 'Lato', sans-serif;
  color: gray;
  padding: 3px 8px 5px 5px;
  font-size: 16px;
  float: left;
  padding-left: 10px;
  text-decoration: none;
}

.sidebar-link-exp {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 3px 8px 10px 5px;
  color: gray;
  padding-left: 10px;
  float: left;
  text-decoration: none;
}

.friend-header {
  font-size: 12px;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  background: #f6f6f6;
  color: #5bc5a7;
  width: 160px;
  height: 15px;
  padding: 3px 0 2px 3px;
  border-bottom: 1px solid #eee;
}

.friend-search-label {
  font-size: 14px;
  background-color: #5bc5a7;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 160px;
  height: 20px;
  padding: 3px 0 0 3px;
  border: 1px solid #39a385;
}

 .dashboard-header {
   background-color: #eee;
   height: 65px;
   font-size: 24px;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   border-bottom: 1px solid #ccc;
 }

 .dashboard h1 {
   display: inline-block;
   font-size: 24px;
   padding-left: 12px;
   margin-top: 15px;
   text-align: center;
 }

 .balances-block {
   background-color: #eee;
   height: 50px;
   border-bottom: 1px solid #ccc;
 }
.balances {
  font-size: 13px;
  color: #999;
  width: 33%;
  float: right;
  margin-top: 8px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 32px;
  border-left: 1px solid #ddd;
}
/* .balance-owe {
  font-size: 13px;
  color: #999;
  width: 33%;
  float: right;
}
.balance-owed {
  font-size: 13px;
  color: #999;
  width: 33%;
  float: right;
} */

 .session-error {
   color: red;
   padding-top: 5px;
 }

 .signup-errors {
   font-size: 15px;
   color: red;
 }

 .add-bill {
   float: right;
   width: 90px;
   height: 38px;
   background-color: #ff652f;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
   border-radius: 7px;
   color: white;
   /* border: .5px solid #c83400; */
   text-shadow: 0 -1px 0 grey;
   margin-top: 12px;
 }

 .add-bill-modal {
   height: 260px;
   width: 360px;
   background-color: #fff;
   margin-top: 100px;
   border: 1px solid #eee;
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%) !important;
   outline: none;
   border-radius: 7px;
   border: 1px solid #999;
   box-shadow: 0 2px 8px rgba(0,0,0,0.3);
 }

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #5bc5a7;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #36977b
}

.modal-exit {
  color: white;
  padding: 7px 7px 0 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 -1px 0 grey;
}
.modal-h3 {
  display: inline;
  vertical-align: middle;
  color: white;
  padding-left: 15px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 -1px 0 grey;
  margin-top: 7px;
}

.modal-name-input {
  font-family: 'Lato', sans-serif;
  height: 40px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
}

.modal-desc {
  height: 150px;
  text-align: center;
}

.add-names-modal {
  border: none !important;
  font-size: 14px;
  color: #555;
  display: inline;
  margin-top: 5px;

}

.description {
  display: inline;
  height: 24px;
  width: 165px;
  border-bottom: 3px dotted black;
  margin-bottom: 10px;
  font-size: 20px;
  border: none !important;
}


.modal-amount-container {
  height: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.modal-amount {
  display: inline;
  height: 44px;
  font-size: 40px;
  width: 165px;
  text-align: center;
  border: none !important;
}

.paid-by {
  margin-top: 10px;
  background-color: #5bc5a7;
  text-shadow: 0 -1px 0 grey;
  color: white;
  height: 25px;
  width: 50px;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  padding-right: 5px;
}

.select-dropdown {
  background-color: #5bc5a7;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  width: 90px;
  height: 38px;
  margin-left: 50%;
}

.paid {
  font-family: 'Lato', sans-serif;
}

.modal-add-bill {
  cursor: pointer;
  float: right;
  width: 70px;
  height: 38px;
  background-color: #ff652f;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  border-radius: 7px;
  color: white;
  /* border: .5px solid #318970; */
  text-shadow: 0 -1px 0 grey;
  margin-right: 10px;
}



.wrapper-dropdown {
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

 .settle {
   float: right;
   width: 90px;
   height: 38px;
   background-color: #5bc5a7;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
   border-radius: 7px;
   color: white;
   /* border: .5px solid #318970; */
   text-shadow: 0 -1px 0 grey;
   margin: 12px;
 }

.login-signup button {
  border-radius: 2px;
}

.log-in {
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  background-color: #5bc5a7;
  color: white;
  padding: 6px 11px 6px 12px;
  box-shadow: .5px .5px 1px 1px grey;
  border-top: .5px solid lightgray;
  text-shadow: 0 -1px 0 grey;
  margin-right: 5px;
}

.log-in:hover {
  background-color: #39a385;

}

 .sign-up {
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff652f;
  color: white;
  padding: 6px 7px 6px 7px;
  box-shadow: .5px .5px 1px 1px grey;
  border-top: .5px solid #ddd;
  text-shadow: 0 -1px 0 grey;
  margin-left: 7px;
}

.sign-up:hover {
  background-color: #c83400;
}

.session-form {
  text-align: center;
  width: 265px;
  height: 160px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  float: right;
  box-shadow: 5px;
  background-color: #eee;
  box-shadow: 1px 1px 2px 2px grey;
  position: absolute;
  right: 16%;
}

.signup-form {
  text-align: center;
  margin-top: 100px;
  padding-top: 0px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
.signup-button {
  background-color: #ff652f;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  padding-right: 10px;
  margin-top: 10px;
}


.login-input {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  width: 225px;
  background-color: rgb(250, 255, 189);
}

.submit-button {
  width: 240px;
  background-color: #5bc5a7;
  font-family: 'Lato', sans-serif;
  color: white;
  border-radius: 5px;
  height: 25px;
  font-size: 12px;
  text-shadow: 0 -1px 0 grey;
}

.submit-button:hover {
  background-color: #39a385;
}

.demo-button {
  width: 240px;
  background-color: #ff652f;
  font-family: 'Lato', sans-serif;
  color: white;
  border-radius: 5px;
  height: 25px;
  font-size: 12px;
  text-shadow: 0 -1px 0 grey;
  margin-top: 5px;
}

.demo-button:hover {
  background-color: #c83400;
}

.greeting {
  color: white;
  font-size: 13px;
  font-family: 'lato', sans-serif;
  right: 5%;
  float: right;
  vertical-align: center;
}


.logged-in {
  position: absolute;
  right: 17%;
}

.log-out-button {
  box-shadow: .5px .5px 1px 1px grey;
  background-color: #ff652f;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  color: white;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  padding: 6px 7px 7px 7px;
  margin-right: 5px;
  font-size: 14px;
  text-shadow: 0 -1px 0 grey;
}
.log-out-button:hover {
  background-color: #c83400;
  cursor: pointer;
}

.ul-bills {
  padding-left: 10px;
}

 .bills-list-item {
   height: 55px;
   width: 550px;
   padding-left: 0;
   list-style: none;
   border-top: 1px solid #eee;
   border-bottom: 1px solid #eee;
   font-family: 'Lato', sans-serif;
 }

 .bill-item-wrapper {
   display: flex;

 }

 .bill-item-main-block {
   display: flex;
   width: 300px;
   vertical-align: middle;
 }

 .bill-item-date {
   display: flex;
   flex-direction: column;
   width: 35px;
   padding-top: 10px;
 }

 .bill-item-month {
   display: inline-block;
   color: #999;
   text-transform: capitalize;
   font-size: 12px;
 }

 .bill-item-day {
   color: #999;
   display: inline-block;
   font-size: 18px;
 }
 .bill-item-dolla {
   display: inline-block;
   width: 20px;
   font-size: 22px;
   padding-top: 15px;
   padding-right: 15px;
   color: #5bc5a7;
 }

 .bill-item-header {
   display: inline-block;
   font-size: 16px;
   font-weight: 900;
   padding-top: 18px;
 }
 .bill-item-payer {
   float: right;
   width: 115px;
   display: inline-block;
   font-size: 12px;
   color: #aaa;
   text-align: right;
   padding-top: 10px;
 }
 .bill-item-ower{
   display: inline-block;
   width: 135px;
   align-items: center;
   font-size: 12px;
   color: #aaa;
   padding-left: 10px;
   padding-top: 10px;
 }

 .bill-item-lent-amount {
   font-weight: 900;
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   color: black;
 }
 .bill-item-owed-amount {
   font-weight: 900;
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   color: black;

 }

 .trashycany {
   display: inline-block;
   text-align: right;
   float: right;
 }

#trashcan {
  font-size: 12px;
  padding-right: 5px;
  padding-bottom: 3px;
}
#trashcan:hover {
  cursor: pointer;
}
